/******* Fonts ************/
body {
	font-family:"Myriad W01 Regular",Arial,sans-serif;
	background:#e2e1df;
}

h1,h2,h3,h4,h5,h6,.semibold,table thead tr th,table tfoot tr td {
	font-family:"Myriad W01 SmBd",Arial,sans-serif;
	color:#181818;
	font-weight:400;
}

em,i,blockquote,blockquote p,.italic {
	font-family:"Myriad W01 It";
	font-style:normal;
}

strong,b,.bold {
	font-family:"Myriad W01 Bd";
	font-weight:400;
}

.b.em,.strong.em {
	font-family:"Myriad W01 It";
	font-weight:700;
	font-style:normal;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.iconfont {
	font-family:'flagship-icon';
}

.copy h2 {
	color:#369;
}
.acc_expandall {
	font-size: 50%;
}
p {
	line-height:1.3em;
	color:#333;
}

.content p {
	line-height:1.6em;
}

.content img,
#widget img {
	border: solid #f1f1f1 5px;
	-webkit-box-shadow: -3px 3px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -3px 3px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         -3px 3px 5px rgba(50, 50, 50, 0.5);
	margin-right:10px;
}

#widget img,
.carousel img {
	border: solid #f1f1f1 2px;
}

h6,time {
	font-size:10px;
	color:#666;
	font-family:"Myriad W01 Bd";
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:3px;
}

.small {
	font-size:40%;
}

ol {
	list-style-type:decimal;
	margin-bottom:14px;
}

.divider,
hr {
	width:100%;
	height:3px;
	margin-bottom: 1.6em;
	border-bottom: ridge 5px #fafafa;

}

.tabs.pill dd, .tabs.pill li {
	margin-bottom: 7px;
}

/******* Reusable Classes ************/
.wrapper {
	padding:30px;
	margin-top:0px;
	margin-bottom:30px;
}

.sidebar_bg {
	background: rgb(237,237,237);
	background: -moz-linear-gradient(left,  rgb(237,237,237) 0%, rgb(237,237,237) 25%, rgb(226,225,223) 25.1%, rgb(226,225,223) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(237,237,237)), color-stop(25%,rgb(237,237,237)), color-stop(25.1%,rgb(226,225,223)), color-stop(100%,rgb(226,225,223)));
	background: -webkit-linear-gradient(left,  rgb(237,237,237) 0%,rgb(237,237,237) 25%,rgb(226,225,223) 25.1%,rgb(226,225,223) 100%);
	background: -o-linear-gradient(left,  rgb(237,237,237) 0%,rgb(237,237,237) 25%,rgb(226,225,223) 25.1%,rgb(226,225,223) 100%);
	background: -ms-linear-gradient(left,  rgb(237,237,237) 0%,rgb(237,237,237) 25%,rgb(226,225,223) 25.1%,rgb(226,225,223) 100%);
	background: linear-gradient(to right,  rgb(237,237,237) 0%,rgb(237,237,237) 25%,rgb(226,225,223) 25.1%,rgb(226,225,223) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e2e1df',GradientType=1 );
}

.homepage_bg {
	background: rgb(226,225,223);
	background: -moz-linear-gradient(left,  rgb(226,225,223) 0%, rgb(226,225,223) 66.0%, rgb(198,197,195) 66.1%, rgb(198,197,195) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(226,225,223)), color-stop(66.0%,rgb(226,225,223)), color-stop(66.1%,rgb(198,197,195)), color-stop(100%,rgb(198,197,195)));
	background: -webkit-linear-gradient(left,  rgb(226,225,223) 0%,rgb(226,225,223) 66.0%,rgb(198,197,195) 66.1%,rgb(198,197,195) 100%);
	background: -o-linear-gradient(left,  rgb(226,225,223) 0%,rgb(226,225,223) 66.0%,rgb(198,197,195) 66.1%,rgb(198,197,195) 100%);
	background: -ms-linear-gradient(left,  rgb(226,225,223) 0%,rgb(226,225,223) 66.0%,rgb(198,197,195) 66.1%,rgb(198,197,195) 100%);
	background: linear-gradient(to right,  rgb(226,225,223) 0%,rgb(226,225,223) 66.0%,rgb(198,197,195) 66.1%,rgb(198,197,195) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e1df', endColorstr='#c6c5c3',GradientType=1 );}

.sidebar_bg .wrapper {
	margin-top:0;
	margin-bottom:0;
	padding-bottom:100px;
	padding-right:30px;
}


.alpha {
	opacity:.9;
}

.black_bg {
	background:#333;
}

.white {
	color:#FFF;
}


.sky_blue {
	color:#00337f;
}

.blue, #sidebar a {
	color:#039;
}
.black {
	color:#333 !important;
}

.grey {
	color:#999;
}

.blue_bg,#SECalendar .SECalendarEventDetails,#SECalendar .SECalendarEventDetails.color1,.color1, .blueslide {
	background:#6ca3d7;
}

.dark_blue_bg,#SECalendar .SECalendarEventDetails.color8,.color8 {
	background:#036;
}

.grey_bg,#SECalendar .SECalendarEventDetails.color9,.color9 {
	background:#666;
}

.rust_bg,#SECalendar .SECalendarEventDetails.color7,.color7 {
	background:#633;
}

.green_bg,#SECalendar .SECalendarEventDetails.color4,.color4 {
	background:#066;
}

.purple_bg,#SECalendar .SECalendarEventDetails.color5,.color5 {
	background:#336;
}

.fushia,#SECalendar .SECalendarEventDetails.color6,.color6 {
	background:#936;
}

.yellow_bg,#SECalendar .SECalendarEventDetails.color2,.color2, .yellowslide {
	background:#c4a41d;
}

.orange_bg,.orange_bg.button:hover,#SECalendar .SECalendarEventDetails.color3,.color3 {
	background:#c60;
}

.bright_blue_bg,.bright_blue_bg.button:hover,.color0,.SECalendarPrevMonth,.SECalendarNextMonth {
	background:#39f;
}

.button.blueslide {
	background: #5681ab;
}
button,.button,.select-buttons li,.SECalendarPrevMonth,.SECalendarNextMonth {
	border:none;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	font-family:"Myriad W01 SmBd",Arial,sans-serif;
	color:#FFF;
	font-size:16px;
	padding:8px 12px;
	margin-right:10px;
	margin-bottom:15px;
	opacity:.9;
	font-weight:400;
}

.select-buttons li {
	display:inline;
}

button:hover,.button:hover,.select-buttons li:hover {
	opacity:1;
}

button a,button a:hover,button a:visited,.button a,.button a:hover,.button a:visited,.select-buttons li a,.select-buttons li a:hover,.select-buttons li a:visited,.SECalendarPrevMonth a,.SECalendarNextMonth a {
	color:#fff;
}

.button.radio {
	font-size:14px;
	opacity:1;
	padding:5px;
	margin-right:0;
	text-transform:capitalize;
}

.button.radio a {
	color:#FFF;
}

.button.radio a.selected,.button.radio a:hover {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-color:#00337f;
	color:#FFF;
}

.button a.selected,.button.radio a:hover,.button.radio a.selected {
	color:#000;
	text-shadow:1px 1px 1px #FFF;
}

.radius10 {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.radius-left {
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft:10px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

.radius-topright {
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
}

.radius-topleft {
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
}

.radius-top {
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
}

.inline {
	display:inline;
}

.offset-top-small {
	margin-top:0;
	margin-bottom:0;
}

.offset-top {
	margin-top:-60px!important;
	zoom:1;
	margin-bottom:0;
}

.offset-topgutter {
	margin-top:-15px;
	zoom:1;
}

.offset-gutter {
	margin-left:-15px;
	margin-right:-15px;
	zoom:1;
}

.no-padding {
	padding:0;
}

.photo-page-left {
	padding:0;
	margin-top:-30px;
	margin-left:-30px;
	zoom:1;
}

.photo-page-right {
	padding:0;
	margin-top:-30px;
	margin-right:-30px;
	zoom:1;
}

.toplayer {
	z-index:10;
}

.block {
	display:block;
}

.no-margin {
	margin-top:5px;
	margin-bottom:5px;
}

.padding-five {
	padding:5px;
}

.text-shadow {
	text-shadow:2px 2px 2px #000;
	text-shadow:2px 2px 2px rgba(0,0,0,.75);
}

ul {
	list-style-position:inside;
	list-style:square;
	line-height:1.4em;
}

.panel {
	background:#00337f;
	border:none;
	color:#FFF;
	font-size:14px;
	line-height:24px;
}

.panel ul {
	list-style:none;
}

.panel li:before {
	content:"\25FC";
	padding-right:3px;
	vertical-align:middle;
}

.panel li a {
	color:#fff;
}

.panel li a:hover {
	color:#fc6;
}

.callout.panel {
	color:#333;
	background:#fc6;
}

.callout.panel a li,.callout.panel li a {
	color:#333;
}

.callout.panel p,.callout.panel ul {
	font-family:"Myriad W01 SmBd",Arial,sans-serif;
}

.callout.panel h3,.callout.panel li:before,.callout.panel a:hover {
	color:#633;
}

.callout.panel h3 {
	font-size:24px;
	margin-top:0;
}

.floatleft,.alignleft {
	float:left;
	margin-right:15px;
}

.floatright,.alignright {
	float:right;
	margin-left:15px;
}

.video_thumb .icon-play:before {
	position:absolute;
	top:20%;
	color:#369;
	left:36%;
	font-size:74px;
	opacity:.8;
}

blockquote {
	border-left:none;
	padding:9px 40px 0 10px;
}

blockquote,blockquote p {
	color:#555;
	font-size:16px;
}

.wp-post-image {
	margin-bottom:15px;
}

p.lead,.lead {
	line-height:2em;
}

ul[data-clearing] li {
	float:left;
	margin:7px;
	max-width:75px;
}

.clearing-assembled .clearing-container ul[data-clearing] li {
	max-width: none;
}
.gallery-item img {
	max-width: 100% !important;
}
/******* Navigation ************/
nav ul {
	list-style:none;
}

.nav-bar > li > a:first-child {
	font-size:18px;
	color:#ccc;
	padding:0 24px;
}

#main_nav,#secondary_nav,#logo_nav {
	padding:0;
}

#main_nav {
	position:relative;
}

#main_nav ul {
	background:transparent;
	padding:0;
	margin:0;
	list-style-type:none;
	z-index:100;
	width:100%;
	max-width:1000px;
	height:43px;
}

#main_nav ul li {
	float:left;
	line-height:43px;
	padding:0 25px;
}

#main_nav ul li ul li {
	padding:0 18px;
}

#main_nav ul li a {
	font-size:18px;
	color:#FFF;
}

#main_nav ul li ul {
	visibility:hidden;
	position:absolute;
	top:43px;
	left:0;
}

#main_nav ul li:hover ul,#main_nav ul li a:hover ul {
	background:#00337f;
	z-index:15;
}


#main_nav ul li:hover ul li a,#main_nav ul li a:hover ul li a {
	display:block;
	color:#fff;
}

#main_nav ul li:hover ul li a:hover,#main_nav ul li a:hover ul li a:hover {
	background:none;
	color:#00337f;
}

#main_nav > li.active > a {
	color:#fff;
	cursor:default;
}

#main_nav > li.active:hover {
	background:#3c6a98;
	cursor:default;
}

#main_nav > li:hover,
#main_nav li.current_page_ancestor,
#main_nav li.current_page_parent {
	background:#3c6a98;
}

#main_nav ul li.logo:hover,.mobile-logo:hover {
	background:none;
}

#main_nav ul li.logo.active a:hover,.mobile-logo a:hover {
	background:url(../images/logo.png) no-repeat top;
}



#main_nav ul li:hover, #main_nav ul li ul li a:hover {
	background: #3c6a98;
}

#main_nav ul li ul li.current_page_item a,#main_nav ul li ul li.current_page_ancestor a,#main_nav ul li ul li.current_page_parent a {
	color:#00337f;
}

#main_nav ul li {
	padding:0 5px;
}

#main_nav ul li ul li {
	padding:0;
}

#main_nav ul li ul li {
	padding:0;
}

.nav-bar > li.has-flyout > a:first-child {
	padding-right:0;
}

.nav-bar > li {
	float:left;
	display:block;
	position:relative;
	padding:0;
	margin:0;
	line-height:72px;
}

.nav-bar > li.active {
	background:#255682;
}

.nav-bar > li.active > a {
	color:#fff;
	cursor:default;
}

.nav-bar > li.active:hover {
	background:#255682;
	cursor:default;
}

.nav-bar > li:hover {
	background:#255682;
}

.nav-bar > li > a {
	color:#FFF;
}

.nav-bar > li ul {
	margin-bottom:0;
}

.nav-bar > li .flyout {
	display:none;
}

.nav-bar > li.has-flyout > a:first-child {
	padding-right:25px;
	position:relative;
}

.nav-bar > li.has-flyout > a:first-child:after {
	content:"";
	display:block;
	width:0;
	height:0;
	border:none;
}

.nav-bar > li.has-flyout > a.flyout-toggle {
	border-left:0!important;
	position:absolute;
	right:0;
	top:0;
	padding:20px;
	z-index:2;
	display:block;
}

.nav-bar > li.has-flyout.is-touch > a:first-child {
	padding-right:55px;
}

.nav-bar > li.has-flyout.is-touch > a.flyout-toggle {
	border-left:1px dashed #666;
}

.nav-bar > li > a:first-child {
	position:relative;
	padding:0 20px;
	display:block;
	text-decoration:none;
	font-size:14px;
}

.nav-bar > li > input {
	margin:0 10px;
}

#main_nav ul .flyout {
	background:#679bcd;
	padding:0;
	margin:0;
	border:1px solid #38638e;
	position:absolute;
	top:42px;
	left:0;
	width:300px;
	z-index:40!important;
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,0.1);
	box-shadow:0 1px 5px rgba(0,0,0,0.1);
	height:auto;
/* remove margin on any first-child element */
/* remove margin on last element */
}


#main_nav ul.flyout li ul.flyout {
	position: absolute;
	left:297px;
	top:4px
}
#main_nav ul .flyout p {
	line-height:1.2;
	font-size:13px;
}

#main_nav ul .flyout :first-child {
	margin-top:0;
}

#main_nav ul .flyout :last-child {
	margin-bottom:0;
}

#main_nav ul .flyout.small {
	width:166.66667px;
}

#main_nav ul .flyout.large {
	width:437.5px;
}

#main_nav ul .flyout.right {
	left:auto;
	right:-2px;
}

#main_nav ul .flyout.left {
	right:auto;
	left:-2px;
}

#main_nav ul .flyout.up {
	bottom:auto;
}

#main_nav ul.flyout li {
	float:none;
}

ul.flyout,.nav-bar li ul {
	padding:0;
	list-style:none;
}

ul.flyout li,.nav-bar li ul li {
	border-left:solid 1px #38638e;
}

ul.flyout li a,.nav-bar li ul li a {
	background:#679bcd;
	border:1px solid #38638e;
	border-width:1px 1px 0 0;
	color:#FFF;
	display:block;
	font-size:14px;
	height:auto;
	line-height:1;
	padding:15px 20px;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
}

ul.flyout li a:hover,.nav-bar li ul li a:hover {
	background:#333;
	background:rgba(255,255,255,.1);
	color:#333;
}

ul.flyout li.active,.nav-bar li ul li.active {
	margin-top:0;
	border-top:1px solid #4d4d4d;
	border-left:4px solid #1a1a1a;
}

ul.flyout li.active a,.nav-bar li ul li.active a {
	background:#4d4d4d;
	border:none;
	color:#fff;
	height:auto;
	margin:0;
	position:static;
	top:0;
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	box-shadow:0 0 0;
}

#main_nav ul li:hover ul,#main_nav ul li a:hover ul,#main_nav ul li.current_page_ancestor ul,#main_nav ul li.current_page_item ul {
	visibility:visible;
	background:#679bcd;
	width:300px;
	min-height:auto;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	z-index:1;
}

#main_nav ul li:hover ul li a:hover,#main_nav ul li a:hover ul li a:hover {
	background:none;
	color:#FFF;
}

#main_nav ul li ul li.current_page_item a,#main_nav ul li ul li.current_page_ancestor a,#main_nav ul li ul li.current_page_parent a,#main_nav ul li ul li a:hover {
	color:#FFF;
}

ul.flyout li a, .nav-bar li ul li a {
	display:block;
}

ul.flyout li, .nav-bar li ul li {
	position: relative;
}

#mobile_nav_container {
	padding:15px 0;
	margin-top:15px;
	margin-bottom:45px;
}

li.external a::after {
	content:"\e007";
	font-family:'flagship-icon';
	font-style:normal;
	speak:none;
	font-weight:400;
	line-height:normal;
	color:#FFF;
	-webkit-font-smoothing:antialiased;
	float:none;
	display:inline;
	font-size:85%;
	padding-left:4px;
}

ul.nav li.external a::after {
	color:#333;
}

ul.breadcrumbs {
	background:none;
	padding:0;
	border:none;
}

ul.breadcrumbs a {
	color:#666;
}

/******* Header ************/
#logo_nav li.logo,.mobile-logo {
	width:222px;
	height:162px;
	padding:0;
	position:absolute;
	margin-top:-61px;
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomright:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
}

#logo_nav li.logo a {
	background:url(../images/logo.png) no-repeat top;
	width:182px;
	height:142px;
	text-indent:-9999px;
	position:absolute;
	top:20px;
	left:20px;
}

.mobile-logo {
	position:relative;
	height:122px;
}

.mobile-logo a {
	background:url(../images/logo.png) no-repeat top;
	width:222px;
	height:133px;
	margin-top:-61px;
	text-indent:-9999px;
	position:absolute;
}

#logo_nav li.logo {
	background:#242424;
	background:rgba(0,0,0,.25);
}

.mobile-logo a {
	margin-top:0;
}

.mobile-logo {
	margin:50px auto 0px auto;
}

#logo_nav {
	width:100%;
	max-width:1000px;
	margin:0;
	padding-bottom:20px;
}

#logo_nav h1 {
	margin:30px 0 0 250px;
	line-height:1.1em;
}

#logo_nav h1 span.small {
	display:block;
	line-height:1em;
}

#search-bar {
	background:#000;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	color:#ccc;
	text-transform:uppercase;
	font-family:"Myriad W01 Bd";
	margin-top:5px;
	margin-bottom:10px;
}

#search-bar .columns {
	padding:0;
}

#search-bar a {
	color:#FFF;
	font-size:9px;
	letter-spacing:1px;
}

#search-bar .links {
	margin-top:9px;
}

.links li {
	list-style:none;
	display:inline;
}

.links li:after {
	content:" | ";
}

.links li:last-child:after {
	content:"";
}

#search-bar input[type="text"] {
	height:31px;
	margin-bottom:0;
	background:#fff;
	background:rgba(255,255,255,0.75);
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	display:inline;
	float:left;
	width:75%;
	border:none;
}

#search-bar input[type="submit"] {
	background:#666;
	height:31px;
	width:30px;
	font-family:'flagship-icon';
	-webkit-border-top-left-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-topleft:7px;
	-moz-border-radius-bottomleft:7px;
	border-top-left-radius:7px;
	border-bottom-left-radius:7px;
	font-size:16px;
	border:none;
	float:left;
	padding:0;
	color:#ccc;
}

#nav-break {
background: #333;
background: -webkit-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
background: -o-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
background: -ms-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
background: -moz-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
background: linear-gradient(to bottom, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
	height:27px;
	position:relative;
	z-index: 2;
}

/******* Footer ************/
footer {
	background:#000;
	padding-top:25px;
}

footer a,.inline-list li a {
	color:#CCC;
}

#social-media {
	margin-top:9px;
}

#social-media a {
	content:none;
	color:#333;
	background:#555;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	padding:10px;
	margin-right:10px;
	font-size:18px;
}

#social-media a:hover {
	color:#333;
	background:#CCC;
}
#menu-footer-links {
	margin-top:15px;
}

#menu-footer-links a {
	font-size:12px;
}

#copyright {
	clear:left;
}

#copyright p {
	text-align:center;
	font-size:12px;
	color:#CCC;
	margin:20px 0 0;
}

/********Quicklinks***********/
#quicklinks {
	padding: 0;
	background: none;
}

#quicklinks .nav-bar {
	margin-top:0;
	background: none;
}

#quicklinks li.has-flyout {
	background: #d07b00;
	font-family:"Myriad W01 Bd";
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	width:100%;
	text-align: center;
}

#quicklinks .flyout { 
	background: #f2f2f2;
	padding: 0; 
	margin: 0; 
	border: 1px solid #d9d9d9; 
	position: absolute; 
	left: 0px; 
	width: 100%; 
	z-index: 40; 
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none;
	bottom: 38px;
	 
}

#quicklinks ul.flyout li { 
	border-left: none; 
	text-align: left;
}

#quicklinks ul.flyout li a { 
	background: #f2f2f2; 
	border-bottom: 1px solid #e6e6e6; 
	font-family: "Myriad W01 Regular", Arial, sans-serif;
	color: #555; 
	display: block; 
	font-size: 12px; 
	text-transform: none;
	height: auto; 
	line-height: 1; 
	padding: 15px 0 15px 10px; 
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
}

#quicklinks ul.flyout li a:hover { 
	background: #ffcc99; 
	color: #333; 
}

#quicklinks .nav-bar > li.has-flyout > a:first-child::after {
	content: none;
}

#quicklinks li.has-flyout {
	line-height: 38px;
}

#quicklinks ul.flyout li a, #quicklinks .nav-bar li ul li a {
	border: 1px solid #CCC;
}


/*******Sidebar*********/
.no-gutter {
	padding:0;
}

img.featured {
	float:right;
	max-width:110%;
}

#sidebar {
	padding-top: 35px;
}

.homepage_bg #sidebar {
	padding-top:0;
}

#sidebar_header {
	padding:12px 15px 10px 0;
}

#sidebar_header a:hover {
	color:#369;
}

aside li,.wrapper li {
	margin-left:20px;
}

aside ul.nav li {
	margin-left:0;
	padding-left:45px;
	text-indent:-25px;
	padding-right:15px;
}

.widget_title {
	padding:10px 0;
	margin-bottom:15px;
	background-color:#000;
}

.widget_title h5 {
	color:#FFF;
}

ul.nav li ul li {
	border-top:none;
	font-size: 12px;
	padding: 5px 0 0px 5px;
	text-indent: -15px;
	margin-left:15px;
}
ul.nav li ul li:before {
	content:"\e010";
	font-family:'flagship-icon';
	color:#999;
	margin-right:5px;
	vertical-align:middle;
	font-size: 75%;
}

ul.nav ul.sub-menu {
	margin-left:0px;
}

#sidebar.sidebar-right {
	padding-top:0;
	background: #ccc;
}
#sidebar h5 {
	padding-left:20px;
	margin-top:0;
	margin-bottom:0;
}


#sidebar h6 {
	margin-bottom:7px;
	color:#000;
}

#sidebar p {
	font-style:normal;
}

.sidebar_bg ul.nav li a,#sidebar li a {
	font-family:"Myriad W01 SmBd",Arial,sans-serif;
	color:#369;
}

#widget article {
	margin:0 20px 40px;
}

#widget a p {
	color: #333;
}

.label.round {
	padding:4px 7px 2px;
	font-size:14px;
}

.label.round a {
	color:#000;
}

.faculty_button {
	position:absolute;
	top:63px;
	right:50px;
	height:20px;
}

.widget img {
	max-width:75px;
	float:left;
	margin-right:10px;
	border-width: 2px;
}

.widget article {
	margin: 5px 20px !important;
}

.widget p {
	line-height: 1.35em;
	font-size: 90%;
}

.hub h6,.ksas_books h6,.textwidget h6 {
	margin-top:0;
	text-transform:none;
	font-size:13px;
	letter-spacing:normal;
}

.textwidget,.hub article,.ksas_books article {
	padding:3px 20px;
}

/******* Home ************/
.homepage_bg .wp-post-image {
	max-width: 105px;
}
.four.columns .video_thumb .icon-play:before {
	top:23%;
	left:36%;
}

.three.columns .video_thumb .icon-play:before {
	top:18%;
	left:33%;
}

.video_thumb.full .icon-play:before {
	top:35%;
	left:38%;
}

.isotope-item {
	z-index:2;
}

.isotope-hidden.isotope-item {
	pointer-events:none;
	z-index:1;
}

.isotope,.isotope .isotope-item {
/* change duration value to whatever you like */
	-webkit-transition-duration:.8s;
	-moz-transition-duration:.8s;
	-ms-transition-duration:.8s;
	-o-transition-duration:.8s;
	transition-duration:.8s;
}

.isotope {
	-webkit-transition-property:height,width;
	-moz-transition-property:height,width;
	-ms-transition-property:height,width;
	-o-transition-property:height,width;
	transition-property:height,width;
}

.isotope .isotope-item {
	-webkit-transition-property:-webkit-transform,opacity;
	-moz-transition-property:-moz-transform,opacity;
	-ms-transition-property:-ms-transform,opacity;
	-o-transition-property:-o-transform,opacity;
	transition-property:transform,opacity;
}

button a.selected {
	color:#FFF;
	text-shadow:1px 1px 1px #000;
}

button.radio {
	background-color:transparent;
	font-size:14px;
	opacity:1;
	padding:5px;
	margin-right:0;
	text-transform:capitalize;
}

button.radio a {
	color:#333;
	padding:5px;
}

button.radio a.selected,button.radio a:hover {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-color:#00337f;
	color:#FFF;
}

/******* FIELDS OF STUDY LANDING PAGES ******/
p.contact {
	font-size:14px;
	color:#000;
}

p.contact span {
	margin-right:20px;
}

p.contact [class^="icon-"]:before,p.contact [class*=" icon-"]:before {
	vertical-align:middle;
	font-size:18px;
	color:#00337f;
	margin-right:0;
}

ul.nav {
	list-style:none;
}

ul.nav li {
	border-top:1px solid #FFF;
	font-size:14px;
	padding:10px 0 8px 20px;
	letter-spacing:1px;
}

ul.nav li [class^="icon-"]:before,ul.nav li [class*="icon-"]:before {
	margin-right:10px;
	color:#999;
	vertical-align:middle;
}

ul.nav:last-child {
	border-bottom:1px solid #FFF;
}

.jumpmenu form {
	margin:0 0 30px 30px;
}

.jumpmenu select {
	background:#00337f;
	border:#666;
	color:#FFF;
	font-size:14px;
	text-indent:15px;
	height:35px;
}

/**************CALENDAR****************/
.SEClear {
	float:left;
}

#SECalendarListWrapper {
	max-width:300px;
}

#SECalendarListWrapper table {
	border:none;
	margin:0;
	background:transparent;
}

#SECalendarListWrapper table tbody tr.even {
	background:none;
}

#SECalendarListWrapper table tbody tr:nth-child(even) {
	background:none;
}

#SECalendarListWrapper table thead tr th,#SECalendarListWrapper table tfoot tr th,#SECalendarListWrapper table tbody tr td,#SECalendarListWrapper table tr td,#SECalendarListWrapper table tfoot tr td {
	display:block;
}

#SECalendarListWrapper .SECalendarEventLocation:before {
	content:'Location: ';
	color:#633;
}

#SECalendarListWrapper .SECalendarEventTime:before {
	content:'Time: ';
	color:#633;
}

#SECalendarListWrapper .SECalendarEventLocation,#SECalendarListWrapper .SECalendarNoEvent {
	margin-bottom:20px;
}

#SECalendarListWrapper table tbody tr td {
	padding:0 10px 4px;
}

#SECalendarListWrapper .SECalendarEventDate {
	color:#000;
	font-size:20px;
	margin-bottom:10px;
	font-family:"Myriad W01 Bd";
}

#SECalendarListWrapper .SECalendarEventTime,#SECalendarListWrapper .SECalendarEventLocation {
	color:#333;
	font-size:10px;
	font-weight:400;
	font-family:"Myriad W01 Regular",Arial,sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}

#SECalendarListWrapper .SECalendarEventName,#SECalendarListWrapper .SECalendarNoEvent,#SECalendarListWrapper .SECalendarEventName a {
	color:#00337f;
	font-size:14px;
	font-weight:400;
	font-family:"Myriad W01 Regular",Arial,sans-serif;
}

#SECalendarListWrapper .SECalendarThumb {
	display:none;
}

.SECalendarEventName h3 {
	font-family:"Myriad W01 Bd";
	font-size:18px;
}

.SECalendarEventDetails {
	border-color:transparent;
	padding:5px 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.SECalendarEventDetails .SECalendarProperty {
	margin-bottom:8px;
}

#SECalendarListWrapper .SECalendarPropertyLabel {
	font-family:"Myriad W01 Bd";
	float:left;
	margin-right:10px;
}

.SEbuttons {
	padding-top:10px;
}

.SECalendarEventDetails p {
	margin-bottom:0;
}

#SECalendarWrapper,#SECalendarWrapper table {
	width:100%;
}

#SECalendarTable td {
	border:1px solid #ddd;
}

#SECalendarNav {
	margin:10px auto 20px;
}

#SECalendarNav div {
	display:inline;
	vertical-align:middle;
}

a.rssLink,#SECalendarSearch .SECalendarLocation,#SECalendarSearch .SECalendarKeyword input.SEApplicationText,#SECalendarSearch .SECalendarType label,#SECalendarSearch .SECalendarKeyword label {
	display:none;
}

#SECalendarNav .SECalendarMonth {
	font-family:"Myriad W01 SmBd",Arial,sans-serif;
	font-size:28px;
	margin-top:5px;
}

#SECalendar {
	padding-bottom:50px;
}

#SECalendar .SECalendarEventName a,#SECalendar .SECalendarEventTime {
	color:#FFF;
}

#SECalendarSearch {
	margin-top:10px;
}

.SECalendarMonth {
	font-size:18px;
	text-align:center;
}

.SECalendarDay a {
	color:#000;
}

/******* News Index Pages ******/
.news img {
	max-width:45%;
}

.wp-caption img {
	max-width:100%;
}

p.wp-caption-text {
	font-size:80%;
	color:#666;
	text-align:center;
	max-width:85%;
}

/******** WP-Calendar******/
/* 14.0 Calendar
___________________________________________________________*/
.category-80 .fc-event-skin,
.fc-event-skin.category-80  { /* Theory Events */
	background-color: #679bcd; 
	border-color: #679bcd; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.category-84 .fc-event-skin,
.fc-event-skin.category-84  { /* Micro Events */
	background-color: #95a739; 
	border-color: #95a739;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}

.category-83 .fc-event-skin,
.fc-event-skin.category-83  { /* Macro Events */
	background-color: #c4a41d; 
	border-color: #c4a41d; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.category-82 .fc-event-skin,
.fc-event-skin.category-82  { /* Lunch Seminar Events */
	background-color: #c4691d; 
	border-color: #c4691d; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;}

.category-81 .fc-event-skin,
.fc-event-skin.category-81 { /* Academic */
	background-color: #a64938; 
	border-color: #a64938;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}

.category-1212 .fc-event-skin,
.fc-event-skin.category-1212 { /* Job Market */
	background-color: #606060; 
	border-color: #606060;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}


.macro {
	background-color: #c4a41d;
	color:#FFFFFF;
}

.micro {
	background-color: #95a739;
	color:#FFFFFF;
}

.theory {
	background-color: #679bcd;
	color:#FFFFFF;
}

.lunch {
	background-color: #c4691d;
	color:#FFFFFF;
}

.academic {
	background-color: #a64938;
	color:#FFFFFF;
}

.other {
	background-color: #3366cc;
	color:#FFFFFF;
}

.job-market {
	background-color: #606060;
	color:#FFFFFF;
}

h2.fc-header-title {
	font-size: 1.3em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em;
	text-transform:uppercase;
}

table.fc-header {
	margin-bottom:0;
}

.fc table {
	background: none;
	
}

.fc-grid .fc-event-time {
	display: block;
}

.fc-event-time, .fc-event-title {
	font-size: 85%;
	padding: 2px;
}

a.button:hover {
	color: #333;
} 

/******* Pagination ******/
.pagination {
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
}

.pagination span,.pagination a {
	display:block;
	float:left;
	margin:2px 2px 2px 0;
	padding:6px 9px 5px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background:#555;
}

.pagination a:hover {
	color:#fff;
	background:#3279BB;
}

.pagination .current {
	padding:6px 9px 5px;
	background:#00337f;
	color:#fff;
}

/**************DIRECTORY AND BIO PAGES****************/
#fields_search fieldset {
	background: #CCC;
	background: rgba(0,0,0,0.15);
	padding-bottom:5px;
	border:none;
}

#fields_search h5 { 
	margin-top:5px;
	margin-bottom: 5px;
}

#fields_search input[type="text"] {
    height: 40px;
    margin-bottom: 10px;
    -webkit-border-top-right-radius: 	7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 		7px;
    -moz-border-radius-bottomright: 	7px;
    border-top-right-radius: 			7px;
    border-bottom-right-radius: 		7px;
    display: inline;
    float:left;
    width:80%;
    background: #666;
	color:#ccc;
	font-family:"Myriad W01 It";
	font-size: 16px;
	border:none;

}

#fields_search input[type="submit"] {
	background: #333;
	height: 40px;
	width: 45px;
	font-family: 'flagship-icon';
	-webkit-border-top-left-radius: 	7px;
	-webkit-border-bottom-left-radius: 	7px;
	-moz-border-radius-topleft: 		7px;
	-moz-border-radius-bottomleft: 		7px;
	border-top-left-radius: 			7px;
	border-bottom-left-radius: 			7px;
	font-size: 26px;
	border:none;
	float:left;
	padding:0;
	color:#ccc;
}

.single-people p {
	line-height:2em;
}

.single-people .tabs dd a, .single-people .tabs li a {
	padding: 0 15px;
}

#bioTab h6 {
	margin-bottom:20px;
}

.single-people .tabs {
	margin-top:40px;
}

#directory {
	list-style:none;
}

#directory li:nth-child(odd) {
	background:#f7f7f7;
	background:rgba(0,0,0,0.05);
}

#directory p {
	margin-top:20px;
}

#directory img {
	border-width: 3px;
}

li.person {
	margin-bottom:15px;
	width:90%;
	min-height:95px;
	padding-left:20px;
	padding-top:3px;
	list-style:none;
}

#directory li.person.sub-head {
	min-height:1px;
	margin-bottom:0;
	background:none;
	padding:0;
}

#directory li.job-market-candidate p {
	margin-top: 0px;	
	margin-left: 105px;
}

#directory li.job-market-candidate p.contact {
	margin-bottom: 17px;
	line-height: 2em;
}

#directory li.job-market-candidate img {
	margin-bottom: 
}

li.person.sub-head h2 {
	text-decoration:underline;
	font-size:28px;
	margin:0;
}

li.person img {
	max-width:90px;
	clear:left;
	float:left;
	margin-bottom:5px;
}

li.person h4 {
	color: #00337f;
}

#LibraInsideDiv .statistic,#LibraInsideDiv .author,#LibraInsideDiv .title h1 {
	display:none;
}

.libra .list-paper a,.libra .list-paper a:link {
	font-size:14px;
	color:#000;
	font-family:"Myriad W01 SmBd",Arial,sans-serif;
}

.libra .conference {
	font-size:12px;
	font-family:"Myriad W01 Regular",Arial,sans-serif;
}

.libra .list-conference a:link,.libra .list-conference a:visited {
	color:#00337f;
}

.libra .logo {
	position:absolute;
	bottom:-40px;
	right:0;
}

p.pub {
	margin-bottom:3px;
	line-height:1.6em;
}

h6.pub {
	margin-top:0;
	margin-bottom:25px;
}

/*******HOMEPAGE SLIDER ******/

.slider-break {
	background: rgba(0,0,0,.2);
	margin-top: -19px;
	height: 19px;
	zoom: 1;
	z-index: 10;
}
ul.orbit-bullets {
	top:405px;
	width:527px;
	left:3px;
	margin-left:0!important;
}

ul.orbit-bullets li {
	margin-right:12px;
	margin-left:0;
}

ul.orbit-bullets li:last-child {
	margin-right:0;
	margin-left:1px;
}

ul.orbit-bullets li.has-thumb {
	width:95px;
	height:95px;
}

div.orbit-wrapper div.timer {
	display:none;
}

#caption.vertical {
	position:absolute;
	top:0;
	min-height: 375px;
	z-index: 2;
}

#caption.horizontal {
	position:absolute;
	bottom:0;
	max-height:100px;
	padding:15px;
}

.slide h6 {
	color:#dbb003;
	font-size:100%;
}

.slide summary {
	z-index: 2;
}

.orbit div.orbit-slide {
	left:0!important;
}

#caption.vertical .middle {
	vertical-align:middle;
	margin: 20px;
}

.slide h5 {
	vertical-align:top;
	font-size: 1.4em;
	line-height: 1.4em;
}

.slide .icon-arrow-right-2 {
	padding-left:6px;
}

.orbit {
	margin-bottom:0;
}

#search-results ul {
	list-style:none;
}

div.orbit img.fluid-placeholder {
	width:auto;
}

.orbit .orbit-slide {
	width: 100%;
}

.orbit-wrapper {
	min-height: 394px;
}

/******* Icons ******/
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family:'flagship-icon';
	content:attr(data-icon);
	speak:none;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,[class*=" icon-"]:before,a[href*=".ppt"]:before,a[href*=".pptx"]:before,a[href*=".zip"]:before,a[href*=".xls"]:before,a[href*=".xlsx"]:before,a[href*=".doc"]:before,a[href*=".docx"]:before,a[href*=".pdf"]:before {
	font-family:'flagship-icon';
	font-style:normal;
	speak:none;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	margin-right:3px;
}

.icon-location:before {
	content:"\e000";
}

.icon-calendar:before {
	content:"\e001";
}

.icon-printer:before {
	content:"\e002";
}

.icon-home:before {
	content:"\e003";
}

.icon-search:before {
	content:"\e004";
}

.icon-user:before {
	content:"\e005";
}

.icon-new-tab:before {
	content:"\e006";
}

.icon-new-tab-2:before {
	content:"\e007";
}

.icon-facebook:before {
	content:"\e008";
}

.icon-vimeo:before {
	content:"\e009";
}

.icon-github:before {
	content:"\e00a";
}

.icon-reddit:before {
	content:"\e00b";
}

.icon-wordpress:before {
	content:"\e00c";
}

.icon-flickr:before {
	content:"\e00d";
}

.icon-feed:before {
	content:"\e00e";
}

.icon-twitter:before {
	content:"\e00f";
}

.icon-mail:before {
	content:"\e013";
	margin-right: 5px;
}

.icon-minus:before {
	content:"\e014";
}

.icon-plus:before {
	content:"\e015";
}

.icon-share:before {
	content:"\e016";
}

.icon-share-2:before {
	content:"\e017";
}

.icon-bookmark:before {
	content:"\e018";
}

.icon-arrow-up-left:before {
	content:"\e019";
}

.icon-arrow-up:before {
	content:"\e01a";
}

.icon-arrow-up-right:before {
	content:"\e01b";
}

.icon-arrow-right:before {
	margin-left: 3px;
	content:"\e01c";
}

.icon-arrow-down-right:before {
	content:"\e01d";
}

.icon-arrow-down:before {
	content:"\e01e";
}

.icon-arrow-down-left:before {
	content:"\e01f";
}

.icon-arrow-left:before {
	content:"\e020";
}

.icon-download:before {
	content:"\e021";
}

.icon-thumbs-up:before {
	content:"\e022";
}

.icon-thumbs-down:before {
	content:"\e023";
}

.icon-file-pdf:before {
	content:"\e024";
}

.icon-file-word:before {
	content:"\e025";
}

.icon-file-excel:before {
	content:"\e026";
}

.icon-file-zip:before {
	content:"\e027";
}

.icon-file-openoffice:before {
	content:"\e028";
}

.icon-file-powerpoint:before {
	content:"\e029";
}

.icon-play:before {
	content:"\e02a";
}

.icon-mobile:before {
	content:"\e02b";
}

.icon-phone:before {
	content:"\e012";
}

.icon-youtube:before {
	content:"\e02c";
}

.icon-arrow-right-2:before {
	content:"\e010";
}

.icon-comments:before {
	content:"\e011";
}

.icon-camera:before {
	content:"\e02d";
}

.icon-video:before {
	content:"\e02e";
}

.icon-newspaper:before {
	content:"\e02f";
}

.icon-calendar-2:before {
	content:"\f073";
}

.icon-globe:before {
	content:"\f0ac";
}

/* #######################################################################

	meanMenu
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */
/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display:none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float:left;
	width:100%;
	position:fixed;
	background:#3478b6;
	padding:4px 0;
	min-height:50px;
	z-index:999999;
}

.mean-container a.meanmenu-reveal {
	height:25px;
	width:100%;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	color:#fff;
	text-decoration:none;
	font-size:16px;
	line-height:22px;
	display:block;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:700;
	text-align:left;
}

.mean-container a.meanmenu-reveal h3 {
	color:#FFF;
	font-size:18px;
}

.mean-container a.meanmenu-reveal span {
	display:block;
	background:#fff;
	height:3px;
	margin-top:3px;
}

.mean-container .mean-nav {
	float:left;
	width:100%;
	background:#0c1923;
	margin-top:33px;
}

.mean-container .mean-nav ul {
	padding:0;
	margin:0;
	width:100%;
	list-style-type:none;
}

.mean-container .mean-nav ul li {
	position:relative;
	float:left;
	width:100%;
	line-height:1em;
	border-bottom:1px solid #383838;
	border-bottom:1px solid rgba(255,255,255,0.5);
}

.mean-container .mean-nav ul li a {
	display:block;
	float:left;
	width:90%;
	padding:1em 5%;
	margin:0;
	text-align:left;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

.mean-container .mean-nav ul li li a {
	width:80%;
	padding:1em 10%;
	border-bottom:1px solid #f1f1f1;
	border-bottom:1px solid rgba(255,255,255,0.25);
	opacity:.75;
	filter:alpha(opacity=75);
	text-shadow:none!important;
	visibility:visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom:none;
	margin-bottom:0;
}

.mean-container .mean-nav ul li li li a {
	width:70%;
	padding:1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width:60%;
	padding:1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width:50%;
	padding:1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background:#252525;
	background:rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	width:26px;
	height:26px;
	border:none!important;
	padding:12px!important;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	font-weight:700;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background:none;
}

.mean-container .mean-push {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	clear:both;
}

.mean-nav .wrapper {
	width:100%;
	padding:0;
	margin:0;
}

#fields_search input[type="submit"], 
#fields_search input[type="text"], 
#search-bar input[type="submit"] { 
border-radius: 0 !important; 
-webkit-appearance: none; 
}

@media only screen and (max-width: 1024px) {
	#search-bar input[type="submit"],#field_search input[type="submit"] {
		-webkit-border-top-left-radius:0;
		-webkit-border-bottom-left-radius:0;
		-moz-border-radius-topleft:0;
		-moz-border-radius-bottomleft:0;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
	}
}

@media only screen and (max-width: 975px) {
	#main_nav ul li {
		padding:0 7px;
	}
}

@media only screen and (max-width: 767px) {
	#logo_nav {
		margin-top:50px;
	}
	
	.sidebar_bg,
	.homepage_bg {
		background:#cecece!important;
	}
	
	#main_nav ul li:nth-child(5) {
		clear:left;
	}
	
	#main_nav ul li {
		width:33%;
	}
	
	#main_nav ul {
		height:144px;
	}
	
	#main_nav ul li ul {
		display:none;
	}
	
	li.logo {
		display:none;
	}
	
	.offset-top {
		margin-top:0!important;
	}
	
	#caption {
		display:none;
	}
	.single-people .tabs dd a, .single-people .tabs li a {
		padding: 18px 20px;
	}
	.tabs.mobile dd:first-child, .tabs.mobile li:first-child {
		padding-left: 0 !important;
	}
	
	.tabs dd.active a {
		background: #F7F7F7;
	}
	.content {
		padding-right: 0;
	}
	#fields_search input[type="submit"],
	#fields_search input[type="text"],
	#search-bar input[type="submit"] {
		border-radius: 0 !important;
		-webkit-appearance: none;
	}
	li.person {
		margin-left: 0 !important;
		padding-left: 0;
	}
	
	.accordion h5 {
		font-size:14px;
	}
	.fc-view {
		overflow: visible !important;
	}
	
	.button.inline {
		display: block;
	}

}

@media only screen and (max-width: 540px) {
	#main_nav ul li {
		padding:0 5px;
		width:auto;
	}
	
	.mobile-field {
		clear:left;
	}
	
	body.fields .row .mobile-two {
		width:100%!important;
	}
	
}

@media only screen and (max-width: 480px) {
	button {
		font-size:14px;
	}
	
	.hide-for-mobile {
		display:none!important;
	}
	
	#quicklinks li.has-flyout {
		width:100%;
	}
		
	#logo_nav {
		margin-top:0;
	}
}

@media print {
	ul.accordion .content {
		display:block!important;
	}
	
	.hide-for-print {
		display:none!important;
	}
}

/*******Attributions*******/
/* 
Icon Set:	IcoMoon - Free -- http://keyamoon.com/icomoon/
License:	CC BY-SA 3.0 -- http://creativecommons.org/licenses/by-sa/3.0/
*/